<!DOCTYPE html> 

<html>


    <head>
        Add Task Page
    </head>
    
    <body>

        <form  action = '/addTask' method="post">

         
            
            <label>Task</label>
            <input type="text" placeholder="Enter the Task" name="task" required>

         

            <button type="submit">Submit</button>

        </form>
    </body>
</html>