<!DOCTYPE html> 

<html>


    <head>
        Home Page
    </head>
    
    <body>

        <button ><a href="/signup" >Register</a></button>
        <br/>
        <br/>
        <button  ><a href="/signin">Login</a></button>
        <br/>
        <br/>
        <button > <a href = '/task'>Tasks</a></button>
       
    </body>
</html>