
<!DOCTYPE html> 

<html>


    <head>
        Task Page
    </head>
    
    <body>

        <button ><a href="/tasks" >View Tasks</a></button>
        <br/>
        <br/>
        <button  ><a href="/addTask">Add Task</a></button>
       
    </body>
</html>